body {
    background-image: url(https://media.gettyimages.com/id/200488627-001/photo/checkout-counters-in-grocery-store.jpg?s=612x612&w=gi&k=20&c=I6N1Fh3OZKgVMoL8IgTKJISzHZxGSflA5u0tJpmTTwI=);
    background-size: cover;
    height: 100vh;
    font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
}
div{
   background: white;
    max-width: 80%;
    margin: auto;
    border: 3px solid black;
    border-radius: 10px;
  
}

h1 {
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: darkred;
}

#save-btn {
    background: darkgreen;
}

